.navbarCustom {
  background-color: transparent !important;
  color: white;
}

.navbarCustomScrolled {
  background-color: white;
  color: black;
}

.navbarCustom .navLink {
  color: white !important;
}

.navbarCustomScrolled .navLink {
  color: black !important;
}

.customToggler {
  color: #e07604;
}

@media (max-width: 768px) {
  .navbarCustom {
    background-color: white !important;
    color: black;
  }

  .navLink,
  .navbarBrand,
  .navbar-text {
    color: black !important;
  }

  .phoneNumber {
    color: black;
  }
}

.navItem {
  display: block;
  font-weight: 700;
  margin-right: 1rem;
}

.navItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: pointer;
}

.scrolledNavItem {
  display: block;
  font-weight: 700;
  margin-right: 1rem;
}

.scrolledNavItem:hover {
  cursor: pointer;
  background-color: #02abb6;
  color: white;
}

.socialMediaIcons {
  transition: transform 0.2s;
}

.socialMediaIcons:hover {
  cursor: pointer;
  transform: scale(1.15);
}
